@charset 'UTF-8';
/* Slider */
/* .slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
} */

/* Icons */
@font-face {
  /* font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("/font/NotoSansKR-Medium.ttf");
  src:
    url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("./fonts/slick.woff") format("woff"),
    url("./fonts/slick.ttf") format("truetype"),
    url("./fonts/slick.svg#slick") format("svg"); */
}
/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 10;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 25px;
  width: "90px";
  height: "90px";
  background-color: "white";
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: ""; /* 빈 문자열로 설정하여 텍스트 내용을 지웁니다. */
  display: block;
  width: 30px; /* 이미지의 너비 */
  height: 30px; /* 이미지의 높이 */
  background-image: url("/assets/icon/icon_navprev.png"); /* 이미지의 경로 설정 */
  background-size: cover; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 제거 */
  cursor: pointer; /* 커서 모양 설정 */
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: ""; /* 빈 문자열로 설정하여 텍스트 내용을 지웁니다. */
  display: block;
  width: 30px; /* 이미지의 너비 */
  height: 30px; /* 이미지의 높이 */
  background-image: url("/assets/icon/icon_navnext.png"); /* 이미지의 경로 설정 */
  background-size: cover; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 제거 */
  cursor: pointer; /* 커서 모양 설정 */
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 25px;

  position: absolute;
  top: 0;
  left: 0;

  width: 6px;
  height: 6px;

  content: "•";
  text-align: center;
  opacity: 1;
  border-radius: 100%;
  border: 1px solid white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  /* color: white; */
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid white;
  background: white;
}
